mixin iconCodepen(fillColor)
	svg(
		xmlns="http://www.w3.org/2000/svg"
		width="21"
		height="22"
		fill="none"
	)
		path(
			fill=fillColor
			d="M20.6 6.8 11 .2a.9.9 0 0 0-1 0L.4 6.8a1 1 0 0 0-.4.8v6.7c0 .3.2.6.4.8l9.6 6.6c.3.2.7.2 1 0l9.6-6.6c.2-.2.4-.5.4-.8V7.6a1 1 0 0 0-.4-.8Zm-9.2-4.1 7 4.9-3 2.2-4-2.7V2.7Zm-1.8 0v4.4l-4 2.7-3-2.2 7-4.9ZM1.8 9.4l2.3 1.5-2.3 1.6V9.4Zm7.8 9.8-7-5 3-2.1 4 2.7v4.4Zm.9-6-3.2-2.3 3.2-2.2 3.2 2.2-3.2 2.3Zm.9 6v-4.4l4-2.7 3 2.2-7 4.9Zm7.8-6.7L16.9 11l2.3-1.5v3.1Z"
			aria-label="Codepenのアイコン"
		)
