mixin logo(fillColor)
	svg(
		xmlns="http://www.w3.org/2000/svg"
		width="5" height="3" fill="none"
	)
		path(
			fill=fillColor
			fill-rule="evenodd"
			d="M14.7 0H20v24h-5.4V0ZM0 5.5h5.4V24H0V5.5Zm29.9 0h-5.4V30h5.4V5.5Zm9.2 0h5.5V24H39V5.5ZM6.5 24h7v-.5h-7v.5ZM38 14.7h-7v-.5h7v.5Zm9.8 9.3a2.2 2.2 0 1 0 0-4.4 2.2 2.2 0 0 0 0 4.4Z" clip-rule="evenodd"
			aria-label="Liho TANAKA Portfolio"
		)
