mixin graphics(className, fillColor, fillStroke)
	svg(
		xmlns="http://www.w3.org/2000/svg"
		fill="none"
		viewBox="0 0 898 305"
		class=className
		)
		text(
			x="90"
			y="156"
			font-size="21"
			font-family="Foglihten"
			fill=fillColor) Self-propelled
		text(
			x="380"
			y="156"
			font-size="21"
			font-family="Foglihten"
			fill=fillColor) Communication
		text(
			x="716"
			y="156"
			font-size="21"
			font-family="Foglihten"
			fill=fillColor) Sincere
		path(
			stroke=fillStroke
			stroke-dasharray="943 945"
			stroke-dashoffset="944"
			d="M151 4a150 150 0 1 0 150 150A150 150 0 0 1 451 4"
		)
		path(
			fill=fillColor
			d="M148 4a4 4 0 1 1 8 0 4 4 0 1 1-8 0m299 0a4 4 0 1 1 8 0 4 4 0 1 1-8 0"
		)
		path(
			stroke=fillStroke
			stroke-dasharray="934 936"
			stroke-dashoffset="935"
			d="M748.4 299.2a148.6 148.6 0 1 0-148.6-148.6c0 82.1-66.5 148.6-148.6 148.6"
		)
		path(
			fill=fillStroke
			d="M751.8 299.2a3.8 3.8 0 1 1-7.5 0 3.8 3.8 0 1 1 7.5 0m-297.2 0a3.8 3.8 0 1 1-7.5 0 3.8 3.8 0 1 1 7.5 0"
		)
