mixin iconZenn(fillColor)
	svg(
		xmlns="http://www.w3.org/2000/svg"
		width="21"
		height="22"
		fill="none"
	)
		path(
			fill=fillColor
			fill-rule="evenodd"
			d="M4.6 21.2H.2c-.1 0-.3-.2-.2-.3L12.2.9c.1-.2.3-.3.5-.3h4.1c.3 0 .5.3.4.6l-12 19.7-.6.3Zm16.3-9.4L15.3 21c-.1.2-.3.3-.5.3h-4.2c-.3 0-.5-.3-.3-.5l5.8-9.3.4-.2h4c.4 0 .6.3.4.6Z"
			clip-rule="evenodd"
			aria-label="Zennのアイコン"
		)
